

#services{

    background-color: var(--gray-100);
    padding-block: 76px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;

    #title{
        h2{
            font: var(--subtitle);
            color: var(--red);
            text-align: center;
        }

        h3{
            font: var(--title-md);
            margin-top: 8px;
            text-align: center;
        }
    }


    .service{
        display: flex;
        gap: 24px;

        div{
            
            border: 2px solid var(--gray-200);
            padding: 20px;
            border-radius: 12px;

            h3{
                font: var(--title-sm);
                color: var(--gray-600);
                margin-block: 20px 8px;
            }

            p{
                font: var(--text-sm);
            }

            img{
                width: 48px;
                height: 48px;
            }
        }
    }
}